{% extends "base.html" %}

{% block title %}Analysis{% endblock %}

{% block extra_head %}
<script>

function monteCarloMaxEnt() {
    let fragmented = 0;
    let survived = 0;
    let iterations = 0;

    const iterationsElement = document.getElementById('iterations');
    const fragmentedElement = document.getElementById('fragmented');
    const survivedElement = document.getElementById('survived');
    const ratioElement = document.getElementById('ratio');

    let updater = setInterval(updateCounters, 50);

    function finishSimulation() {
        document.getElementById('iterations').style.display = 'none';
        document.getElementById('spinner').style.display = 'none';
        document.getElementById('status').textContent = 'Simulation complete!';
    }

    function updateCounters() {
        iterations++;
        if (Math.random() < 0.5) {
            fragmented++;
        } else {
            survived++;
        }
        const ratio = survived / (fragmented + survived);

        iterationsElement.textContent = iterations + "/";
        fragmentedElement.textContent = fragmented;
        survivedElement.textContent = survived;
        ratioElement.textContent = ratio.toFixed(5);
        if (iterations >= {{ iterations }}) {
            clearInterval(updater);
            finishSimulation();
        }
    }
}

window.addEventListener("load", monteCarloMaxEnt);
</script>
{% endblock %}

{% block content %}
    <div class="grid justify-center content-center min-h-full min-w-full absolute">
        <div class="rounded-xl border border-black p-4 flex flex-col gap-4 min-w-[500px]">
            <h1 id="status" class="text-5xl font-bold">Running simulation...</h1>
            <p class="text-4xl">Iterations: <span id="iterations">0/</span>{{ iterations }}</p>
            <div id="spinner" role="status" class="m-auto inline-block p-4">
                <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="sr-only">Loading...</span>
            </div>
            <p class="text-4xl">Fragmented: <span id="fragmented">0</span></p>
            <p class="text-4xl">Survived: <span id="survived">0</span></p>
            <p class="text-4xl">Survival Ratio: <span id="ratio">0</span></p>
        </div>
    </div>
{% endblock %}
